<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2eMoW4p1dUGnFwkJMw6nhUhaBFU_nX9A</string>
	<key>GCM_SENDER_ID</key>
	<string>996062920256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comethru.mocker</string>
	<key>PROJECT_ID</key>
	<string>comethru-mocker</string>
	<key>STORAGE_BUCKET</key>
	<string>comethru-mocker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996062920256:ios:35338f6ec779b18d5ce9a5</string>
</dict>
</plist>